@media only screen and (min-height:1230px) {
  p{
    font-size: 1rem;
  }
  h1{
    font-size: 1.2rem;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    height: 6rem;
  }

  .nav-div-1 {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: inherit;
  }

  .nav-div-3 {
    display: none;
    width: 20%;
    height: inherit;
  }

  .nav-div-2 {
    display: flex;
    width: 30%;
  }

  .nav-ul {
    flex-direction: row;
    width: 100%;
    height: inherit;
  }

  .nav-li {
    height: 100%;
    width: 50%;
  }

  .nav-a {
    font-size: 1.1rem;
    color: white;
    width: 100%;
    justify-content: center;
    padding-left: 10%;
  }

  .footer {
    position: relative;
    bottom: 0;
  }

  /*---------------------------------CONTATTI PAGE----------------------------------------------------*/
  .form-container {
    width: 100%;
    min-height: 100%;
  }

  .form-field-container {
    width: 100%;
    margin-top: 0%;
  }

  .label-field {
    width: 80%;
  }

  .input-field {
    width: 80%;
  }

  .textarea-field {
    width: 80%;
  }

  .form-button {
    width: 80%;
  }

  .submit-button {
    width: 25%;
  }

  /*---------------------------------CONTATTI PAGE----------------------------------------------------*/
  /*---------------------------------PROGETTI PAGE----------------------------------------------------*/
  .grid-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container {
    display: grid;
    width: 95%;
    grid-template-columns: auto auto;
    margin-top: 1%;
    height: 70%;
  }

  .grid-items {
    display: flex;
    width: 75%;
    margin: auto;
    min-height: 11rem;
    border-radius: 20px;
    border: 1px solid white;
  }

  .project-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: inherit;
  }

  .img-partner {
    max-width: 9rem;
    height: 9rem;
    transition: transform 0.1s;
  }

  /*---------------------------------PROGETTI PAGE----------------------------------------------------*/
}
